.container {
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 20px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
