.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}

.footerMyPage{
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;  
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

li>a {
  padding: 8px 24px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration:none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.button-menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }

  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
 
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 20%;
    height: 70%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 50px;
    align-items: flex-end;
    gap:70px;
    font-size: 20px;
  }
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 600px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 180px;
  text-align: right;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}

.formSt {
  padding-top:20px;
}

.divImage {
  width:10%;
  padding-top:20px;
  display: flex;
  flex-direction: row;
}

#id_buho1, #id_buho2, #id_buho3 {
  width:400px;
  height: 400px;
}

#id_buho1:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }

 
  #id_buho2:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #4999f5;
    -webkit-box-shadow: 0px 0px 15px 15px #4999f5;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    }

   
    
    #id_buho3:hover{
      border-radius:50%;
      -webkit-border-radius:50%;
      box-shadow: 0px 0px 15px 15px #d6f549;
      -webkit-box-shadow: 0px 0px 15px 15px #d6f549;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      }